
@import 'vars';

nav.top {
	width: 100%;
	background-color: darken($redColor, 20%);

	ul {
		@include reset;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		max-width: 800px;

		li {
			@include reset;
			display: block;

			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}